doctype html
html
    head
        title #{title}
    body
        p
            a(href=url, target="blank") PUG 사이트 이동
        div
        //-
            - for(var i = 0; i < arr.length; i++){
            h1 테스트#{arr[i]}    
            - }
        each val, index in arr
            h1 #{val} + ' : ' + #{index}